body {
	
}

#main-image {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d4/Salk_Institute1.jpg");
    min-height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.title {
	font-size: 54px;
	padding-top: 13%;
	
}

.sub-title {
	
	font-size: 32px;
}

.tribute-page {
	
	font-size: 18px;
}

.caption {
	background-color: white;
	display: inline;
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 7px;
	border-radius: 15px;
}




.title-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -95%);

}
.gallery-header {
	margin-bottom: 25px;
	font-size: 48px;
}

.text {
	font-size: 16px;
	margin-top: 48px;
}

.foot {
	background-color: black;
	height: auto;
	color: white;
	margin-bottom: 0px;
}

.name {
	font-size: 24px;
	font-weight: bold;
}

section.foot.text-center > p {
	margin-bottom: 0px;
}

.info {
	padding: 15px 0;
}